ion-toolbar.header-banner {
    --background: #2b2b2b;
    height: 90px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}


.header-logo {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 223px;
    height: 55.28px;
    object-fit: contain;
}
