<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>🍸 Palenque Experience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="currentView() === 'experiencias'">
    <app-experiencia
      [experiencias]="experiencias()"
      [asistentes]="asistentes()"
      (guardarExperiencia)="guardarExperiencia($event)"
      (eliminarExperiencia)="eliminarExperiencia($event)"
      (verAsistentes)="verAsistentes($event)">
    </app-experiencia>
  </ng-container>

  <ng-container *ngIf="currentView() === 'asistentes'">
    <app-asistencia
      [experiencias]="experiencias()"
      [asistentes]="asistentes()"
      [experienciaEditando]="experienciaSeleccionada()"
      (aprobarAsistente)="aprobarAsistente($event)"
      (rechazarAsistente)="rechazarAsistente($event)"
      (volverGestion)="volverAExperiencias()">
    </app-asistencia>
  </ng-container>
</ion-content>
